@import "tailwindcss";

:root {
  --coral: #f96359;
}

@layer utilities {
  .bg-coral {
    background-color: var(--coral);
  }

  .text-coral {
    color: var(--coral);
  }
}

.todo-loader-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.shimmer-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.shimmer-avatar {
  width: 16px;
  height: 16px;
  background-color: #f3f3f3;
  border-radius: 4px;
  /* Use 50% for circle instead */
  position: relative;
  overflow: hidden;
}

.shimmer-line {
  height: 14px;
  flex: 1;
  background-color: #f3f3f3;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

.shimmer-avatar::before,
.shimmer-line::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg,
      transparent,
      rgba(255, 255, 255, 0.6),
      transparent);
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  100% {
    left: 100%;
  }
}

.fc-timegrid-slot {
  height: 20px !important;
}

.fc-timegrid-slot-minor {
  background-color: #ffffff;
}

.fc-timegrid-slot-lane {
  border-bottom: 1px solid #d4d4d9 !important;
  /* border-left: 1px solid white !important; */
}

.fc-timegrid-axis {
  background-color: #ffffff;
}

.fc-timegrid-slot-label {
  background-color: #ffffff;
  border: none !important;
  padding: 4px;
  font-size: 13px;
}

.fc {
  color: #9f9fa9;
}

.fc-event {
  background-color: #d4d5fc !important;
  border: none !important;
  border-radius: 3px !important;
  border-radius: 8px;
  padding: 4px;
  font-size: 13px;
}

.fc-event-title {
  font-weight: 500;
  color: #181c87 !important;
}
.fc-event-time {
  font-weight: 400;
  color: #181c87 !important;
}

.fc-event:hover {
  opacity: 0.9;
  cursor: pointer;
}

.fc-day-today {
  background-color: rgb(252, 245, 244) !important;
}

.fc-timegrid-now-indicator-line {
  background-color: #ef4444;
  height: 2px;
}

.fc-toolbar {
  background-color: #f1f5f9;
  padding: 10px;
  border-bottom: 1px solid #e2e8f0;
}

.fc-toolbar-title {
  font-size: 20px;
  font-weight: 600;
  color: #9f9fa9;
}

.fc-col-header-cell-cushion {
  color: #9f9fa9;
  padding: 16px !important;
  font-size: 16px;
  font-weight: 300;
}

.fc-col-header-cell {
  color: #9f9fa9;
}

.fc-scrollgrid-sync-inner {
  background-color: #ffffff;
  border: none !important;
}

.fc-scroller::-webkit-scrollbar {
  width: 6px;
}

.fc-scroller::-webkit-scrollbar-thumb {
  background: #9f9fa9;
  border-radius: 4px;
}

.fc-toolbar-title{
  font-size: 16px !important;
  font-weight: 400 !important;
  color: rgb(13, 12, 12) !important;
}
.fc-header-toolbar{
  background-color: #ffffff !important;
  border: none !important;
  margin-bottom: 0px !important;
}

.fc-toolbar-chunk{
  display: flex;
  align-items: center;
  padding:0px 10px;
}

.fc-button{
  background-color: white !important;
  border: none !important;
  color: #9f9fa9 !important;
  font-size: 12px !important;
  padding: 6px  !important;  
}

.fc-button:focus{
  outline: none !important;
  border:none !important;
  box-shadow: none !important;
}

.fc-button:hover{
  background-color: #f3f4f6 !important;
  color: #9f9fa9 !important;
  border:1px solid rgb(151, 151, 151) !important;
}

.fc-button-active{
  background-color: #efeff3 !important;
  border:1px solid rgb(151, 151, 151) !important;
}